# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/fpsProjectServer.dir/Debug
cmake-build-debug
cmake-build-debug/
*.pdb
*.ilk
*.tlog
cmake-build-release/Makefile
.idea/editor.xml
.idea/vcs.xml
cmake-build-debug-visual-studio/CMakeFiles/clion-Debug-Visual Studio-log.txt
cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
cmake-build-debug-visual-studio/CMakeCache.txt
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/reply/cache-v2-edfdebba10e3efb1eff5.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-ceade0ec1f5ece031e3a.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-7fe230130a9bdf53ba1e.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
cmake-build-release/.cmake/api/v1/reply/index-2025-05-15T17-05-52-0622.json
cmake-build-release/.cmake/api/v1/reply/target-fpsProjectServer-Release-ddc0c54a265ce864c494.json
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-215b689c6e3e55134a6c.json
cmake-build-release/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.31.6/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeSystem.cmake
cmake-build-release/CMakeFiles/fpsProjectServer.dir/build.make
cmake-build-release/CMakeFiles/fpsProjectServer.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/fpsProjectServer.dir/compiler_depend.make
cmake-build-release/CMakeFiles/fpsProjectServer.dir/compiler_depend.ts
cmake-build-release/CMakeFiles/fpsProjectServer.dir/depend.make
cmake-build-release/CMakeFiles/fpsProjectServer.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/fpsProjectServer.dir/flags.make
cmake-build-release/CMakeFiles/fpsProjectServer.dir/objects1.rsp
cmake-build-release/CMakeFiles/fpsProjectServer.dir/progress.make
cmake-build-release/CMakeFiles/ShowIncludes/foo.h
cmake-build-release/CMakeFiles/ShowIncludes/main.c
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
